.navbar{
    padding-bottom:20px;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px 0px;
}
.navbar img{
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:4em;
    margin-left:45%;

}
.nav-link{
  margin: 0px 40px;
  font-size:1.2em;
}
.nav-link:hover{
    background-color: aqua;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.right{
    margin: 20px;
}
.fa-home{
    font-size: 2em;
    margin-left:15px;
}
.fa-home:hover{
    color: cornflowerblue;
}