.carousel{
    margin-top:5%;
}
.owl-carousel{
    max-width: 900px;
    margin: 0 auto;

}

.item{
    background:rgb(30, 13, 92) ;
    color: #fff;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.owl-nav{
    position: absolute;
    top: -3rem;
    right: 0;

}

img{
    width:18px;
}
.owl-nav .owl-prev:hover,.owl-nav .owl-next:hover{
   background: none !important;
   outline: none !important;
   opacity: 1;
}
.owl-nav .owl-prev,.owl-nav .owl-next{
    outline: none;
    opacity: 0.6;
    transition:all .5s ease;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -ms-transition:all .5s ease;
    -o-transition:all .5s ease;
}