.container .carousel{
    margin-top:10%;
}


.carousel{
    margin-top:5%;
}
.title{
    margin-left:7%;
    font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}
.owl-carousel{
    max-width:980px;
    margin:0 auto;

}

.item{
    color: rgb(36, 30, 30);
    height:25rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.item .card img{
    width: 18rem;
    height:10rem;
}
.card{
    padding:0px  0px 0px 0px;

}
.card-text{
    text-align:justify;
   font-family: Times New Roman, Times, serif;
}
.owl-nav{
    position: absolute;
    top:-3rem;
    right: 0;

}
.card-link{
    text-decoration:none;
}
.control-icons{
    width:25px;
    background: aquamarine;
    box-shadow:5px 5px 5px rgb(13, 128, 156);
    
}

.owl-nav .owl-prev:hover,.owl-nav .owl-next:hover{
   background: none !important;
   outline: none !important;
   opacity: 1;
}
.owl-nav .owl-prev,.owl-nav .owl-next{
    
    outline: none;
    opacity: 0.6;
    transition:all .5s ease;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -ms-transition:all .5s ease;
    -o-transition:all .5s ease;

}
.owl-dots{
    margin-top:2px;
}
.owl-oot.octive{
    transition: all .2s ease;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}